<div class="container mx-auto">
  <div class="flex flex-col items-center justify-center">
    <form class="mt-10 flex w-96 flex-col gap-5 border p-8">
      <div class="flex items-center justify-center">
        <p class="text-xs font-semibold md:text-sm">Register</p>
      </div>
      <div>
        <label
          for="name"
          class="mb-2 block text-xs font-medium text-gray-900 dark:text-white md:text-sm"
          >Name</label
        >

        <input
          type="text"
          id="name"
          class="w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
          placeholder="Name"
          required
        />
      </div>

      <div>
        <label
          for="email"
          class="mb-2 block text-xs font-medium text-gray-900 dark:text-white md:text-sm"
          >Email</label
        >

        <input
          type="email"
          id="email"
          class="w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
          placeholder="Email"
          required
        />
      </div>

      <div>
        <label
          for="password"
          class="mb-2 block text-xs font-medium text-gray-900 dark:text-white md:text-sm"
          >Password</label
        >

        <input
          type="password"
          id="password"
          class="w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
          placeholder="Enter 6-digit pin"
          required
        />
      </div>

      <div>
        <label
          for="confirm_password"
          class="mb-2 block text-xs font-medium text-gray-900 dark:text-white md:text-sm"
          >Confirm password</label
        >

        <input
          type="password"
          id="confirm_password"
          class="w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
          placeholder="Confirm 6-digit pin"
          required
        />
      </div>

      <div>
        <label
          for="position"
          class="mb-2 block text-xs font-medium text-gray-900 dark:text-white md:text-sm"
          >Position</label
        >

        <input
          type="text"
          id="position"
          class="w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
          placeholder="Position"
          required
        />
      </div>

      <div>
        <label
          for="role"
          class="mb-2 block text-xs font-medium text-gray-900 dark:text-white md:text-sm"
          >Role</label
        >

        <input
          type="text"
          id="role"
          class="w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
          placeholder="Role"
          required
        />
      </div>
      <button
        type="submit"
        class="bottom-0 w-full rounded-lg bg-blue-700 px-5 py-2.5 text-center text-xs font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 sm:w-auto md:text-sm"
      >
        Submit
      </button>
    </form>
  </div>
</div>
